<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-button>
          <ion-icon slot="icon-only"  name="flame-outline"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-title>
      FotosGram
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" color="light">
  <!-- Refresh -->
  <ion-refresher slot="fixed" (ionRefresh)="RefreshPosts($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- posts -->
  <app-posts [posts]="posts"></app-posts>
  <!-- infinite scrool -->
  <ion-infinite-scroll threshold="150px" position="bottom" [disabled]="!infiniteScorllEnabled"(ionInfinite)="loadMorePosts($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more posts...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
