
.perfil-info{
    display: flex;
    justify-content: center;
    text-align: center;
}

.prueba-img-perfil{
    width: 125px;
    height:125px;
    background-size: cover;
    background-position: center center;
}