<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      {{auth.user.email}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="end" name="log-out-outline" color="danger"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="3">
        <img src="assets/avatars/{{auth.user.avatar}}" class="perfil-img">
      </ion-col>
      <ion-col size="9" >
        <ion-list class="perfil-info">
          <ion-item  lines="none">
            <ion-label class="ion-text-center">
              <h4><strong>555</strong></h4>
              <p>Posts</p>
            </ion-label>
          </ion-item>
          <ion-item  lines="none">
            <ion-label>
              <h4><strong>555</strong></h4>
              <p>Followers</p>
            </ion-label>
          </ion-item>
          <ion-item  lines="none">
            <ion-label>
              <h4><strong>555</strong></h4>
              <p>Following</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h5>{{auth.user.nombre}}</h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
        <ion-button (click)="editPerfil()" expand="block" fill="outline" color="medium">
          Edit Perfil
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item-divider>
  </ion-item-divider>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="4" *ngFor="let imag of postImg">
        <div class="prueba-img-perfil" 
             [style]="(imag.img | imagen:imag.user._id) | domSanitizer">
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
